h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
}

.stock-line {
  pointer-events: none;
}

.filter-box-inside {
  fill: rgba(0, 0, 0, 0.3);
  stroke: none;
}

.filter-box-outside {
  fill: none;
  stroke: rgba(0, 0, 255, 0.5);
}

#visualization-svg {
  display: block;
  margin: 0 auto;
}